#container{
    display: flex;

    width: 500px;
    height: 500px;

    text-align: center;
}
.littleSquare{
    flex-grow: 1;
    background-color:	#D0D0D0;
}
.bigSquare{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
header{
    padding-bottom: 2em;
}
.drawn{
    background-color: black;
}